body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;

}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

nav h1 {
    margin: 0;
    text-align : center;
}

nav ul {
    display:flex;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

nav li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    padding: 4rem 0;
    text-align: center;
}

section h2 {
    margin-bottom: 2rem;
}

.project-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card img {
    max-width: 100%;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    header {
        padding: 1rem;
    }

    .container {
        padding: 1rem;
    }

    section {
        padding: 2rem 0;
    }
}

#imgmain{
    width: 100%;
    height: auto;
    align: center;
}

#projectAbout p{
    text-align: left;
}

h3{
    text-align: left;
}

#projectAbout ul{
    text-align: left;
}